@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --purple: #6D45F5;
    --purple-dark: #6F1BB4;
    --blue: #0A789B;
    --dark: #6cd2fa;
}

#container {
    /* margin: auto; */
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
    margin-top: 20px;
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    left: 0;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    text-align: center;
    user-select: none;
}

.active,
.magic-text-hover:hover,
.magic-text {
    color: var(--blue);
}

.magic-button:hover {
    background-color: var(--blue);
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    /*animation: bg-col 10s infinite;*/
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.version {
    position: relative;
}
.version::after {
    width: 68px;
    content: 'v0.0.1.-alpha.1';
    position: absolute;
    font-size: 8px;
    top: -2px;
    right: 0px;
    transform: translateX(100%);
    color: white;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 20px;
    line-height: 10px;
}

.coming-soon {   
    position: relative;
    cursor: none;
    pointer-events: none;
}
.coming-soon::after {
    content: 'Coming soon';
    position: absolute;
    font-size: 8px;
    bottom: 0px;
    right: 0px;
    transform: translateX(100%);
    color: white;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 20px;
    line-height: 10px;
}

.coming-soon-top {   
    position: relative;
    /* min-width: px; */
    cursor: none;
    pointer-events: none;
}
.coming-soon-top::after {
    content: 'Coming soon';
    position: absolute;
    font-size: 8px;
    top: -20px;
    right: 40px;
    transform: translateX(100%);
    color: white;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 20px;
    line-height: 10px;
    min-width: 62px;
}


/* Hide scrollbar for IE, Edge and Firefox */

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.close {
    position: absolute;
    right: 18px;
    top: 22px;
    width: 32px;
    height: 32px;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.hljs-string {
    color: var(--dark) !important;
}

.hljs-title {
    color: var(--blue) !important;
}

code.hljs {
    color: #4c4f69;
    background: #eff1f5
}

code .hljs-keyword {
    color: #8839ef
}

code .hljs-built_in {
    color: #d20f39
}

code .hljs-type {
    color: #df8e1d
}

code .hljs-literal {
    color: #fe640b
}

code .hljs-number {
    color: #fe640b
}

code .hljs-operator {
    color: #179299
}

code .hljs-punctuation {
    color: #5c5f77
}

code .hljs-property {
    color: #179299
}

code .hljs-regexp {
    color: #ea76cb
}

code .hljs-string {
    color: #40a02b
}

code .hljs-char.escape_ {
    color: #40a02b
}

code .hljs-subst {
    color: #6c6f85
}

code .hljs-symbol {
    color: #dd7878
}

code .hljs-variable {
    color: #8839ef
}

code .hljs-variable.language_ {
    color: #8839ef
}

code .hljs-variable.constant_ {
    color: #fe640b
}

code .hljs-title {
    color: #1e66f5
}

code .hljs-title.class_ {
    color: #df8e1d
}

code .hljs-title.function_ {
    color: #1e66f5
}

code .hljs-params {
    color: #4c4f69
}

code .hljs-comment {
    color: #acb0be
}

code .hljs-doctag {
    color: #d20f39
}

code .hljs-meta {
    color: #fe640b
}

code .hljs-section {
    color: #1e66f5
}

code .hljs-tag {
    color: #6c6f85
}

code .hljs-name {
    color: #8839ef
}

code .hljs-attr {
    color: #1e66f5
}

code .hljs-attribute {
    color: #40a02b
}

code .hljs-bullet {
    color: #179299
}

code .hljs-code {
    color: #40a02b
}

code .hljs-emphasis {
    color: #d20f39;
    font-style: italic
}

code .hljs-strong {
    color: #d20f39;
    font-weight: bold
}

code .hljs-formula {
    color: #179299
}

code .hljs-link {
    color: #209fb5;
    font-style: italic
}

code .hljs-quote {
    color: #40a02b;
    font-style: italic
}

code .hljs-selector-tag {
    color: #df8e1d
}

code .hljs-selector-id {
    color: #1e66f5
}

code .hljs-selector-class {
    color: #179299
}

code .hljs-selector-attr {
    color: #8839ef
}

code .hljs-selector-pseudo {
    color: #179299
}

code .hljs-template-tag {
    color: #dd7878
}

code .hljs-template-variable {
    color: #dd7878
}

code .hljs-diff-addition {
    color: #40a02b;
    background: rgba(64, 160, 43, .15)
}

code .hljs-diff-deletion {
    color: #d20f39;
    background: rgba(210, 15, 57, .15)
}